<div class="row">

<div *ngFor="let cartItem of shoppingCartItems | async"
	class="product-item col-xs-12 col-sm-4 normal" tooltip>
	<div class="row">
		<div class="col-xs-10">
			<span class="product-title">{{cartItem.name}}</span>
		</div>
		<div class="col-xs-2">
			<input class="select" type="checkbox" (change)="updateSelected($event, cartItem)" [(ngModel)]="cartItem.selected">
		</div>
	</div>
	<div class="row">
	<div class="col-xs-12">
	<img src='{{cartItem.image}}'/>
	</div>
	</div>
	<div class="row">
	<div class="col-xs-8">
	<span class="product-description">{{cartItem.description}}</span>
	</div>
	<div class="col-xs-4">
	<span class="product-price">{{cartItem.price | dollar}}</span>
	</div>
	</div>
	<span class="product-new">{{cartItem.published | new}}</span>
	 <input type="number" disabled="{{!cartItem.selected}}"  [(ngModel)]="cartItem.quantity"/>
	 
	</div>
</div>	
	
	
	<button class="btn-default" *ngIf="shoppingService.hasPrevItem" (click)="shoppingService.getPreviousShoppingCartItems()">Previous</button>
	<button class="btn-primary" *ngIf="shoppingService.hasNextItem" (click)="shoppingService.getNextShoppingCartItems()">Next</button>
